---
import Layout from "../../layouts/Layout.astro";
import Quote from "../../components/Quote.astro";
import ArticleList from "../../components/ArticleList.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");

// TODO: change this quote every other week
export const currentQuote = {
  text: "The best way to become acquainted with a subject is to write about it.",
  author: "Benjamin Disraeli",
};

export const pageDescription = "Articles written by Milton.";
---

<Layout
  title="Articles - Milton David"
  description={pageDescription}
  isArticle={false}
>
  <main class="px-4 flex flex-col">
    <header class="my-10">
      <Quote text={currentQuote.text} author={currentQuote.author} />
    </header>
    <ArticleList articles={articles} />
  </main>
</Layout>
