---
import Layout from "../../layouts/Layout.astro";
import Quote from "../../components/Quote.astro";
import ArticleList from "../../components/ArticleList.astro";
import ArticleTopicList from "../../components/ArticleTopicList.astro";
import { getCollection } from "astro:content";

function dedupeTopics(topics: Array<string>) {
  const setOfTopics = new Set<string>();
  topics.forEach((topic) => setOfTopics.add(topic));

  return [...setOfTopics];
}
const articles = await getCollection("articles");
const articleTopics = articles.map((article) => article.data.topics);
const uniqueArticleTopics = dedupeTopics(articleTopics.flat());

// PS: change this quote every other week
export const currentQuote = {
  text: "The best way to become acquainted with a subject is to write about it.",
  author: "Benjamin Disraeli",
};

export const pageDescription = "Articles written by Milton.";
---

<Layout
  title="Articles - Milton David"
  description={pageDescription}
  isArticle={false}
>
  <main class="px-4 flex flex-col text-supporting-gunmetal-300">
    <header class="my-10">
      <Quote text={currentQuote.text} author={currentQuote.author} />
    </header>
    <ArticleTopicList topics={uniqueArticleTopics} />
    <ArticleList articles={articles} />
  </main>
</Layout>
