---
interface Props {
  href: string;
  title: string;
}

const TWITTER_SHARING_URL = "https://twitter.com/intent/tweet";
const LINKEDIN_SHARING_URL = "http://www.linkedin.com/shareArticle";

const { href, title } = Astro.props;
---

<p class="bg-neutral-200 dark:bg-supporting-gunmetal-600 rounded-lg p-4">
  <span
    class="font-overpass-regular text-supporting-gunmetal-500 dark:text-neutral-600"
    >Share this article:</span
  >
  <a
    href={`${TWITTER_SHARING_URL}?url=${href}&text=${title}&via=tonimaunde`}
    target="_blank"
    rel="noreferrer"
  >
    Twitter
  </a>
  {"  |  "}
  <a
    href={`${LINKEDIN_SHARING_URL}?mini=true&url=${href}&title=${title}&source=Milton Alberto`}
    target="_blank"
    rel="noreferrer"
  >
    Linkedin
  </a>
</p>
