---
import Layout from "../layouts/Layout.astro";
const pageDescription = "Milton David's personal website";
import { getCollection } from "astro:content";
import ArticleList from "../components/ArticleList.astro";
import { Icon } from "astro-icon/components";

// TODO: filter the drafts on render
const articles = await getCollection("articles");

const projects: Array<{
  name: string;
  description: string;
  link: string;
}> = [
  {
    name: "minhamola",
    link: "https://minhamola.com",
    description:
      "A web-based personal finance management application. Built with Vue.js and Express.js.",
  },
  {
    name: "typed-formdata",
    link: "https://github.com/ToniMaunde/typed-formdata",
    description:
      "An experiment on parsing and validating the native formdata object based on a schema. Built with TypeScript and Zod.",
  },
  {
    name: "react-svg-icon",
    link: "https://github.com/ToniMaunde/react-svg-component",
    description:
      "A tree-shakeable approach to rendering SVGs (in React.js). All without the use of a library or using the HTMLImageElement. Built with React.js and TypeScript.",
  },
];
---

<Layout
  title="Home - Milton David"
  description={pageDescription}
  isArticle={false}
>
  <main class="px-6 flex flex-col">
    <header class="">
      <h1 class="font-lora-bold text-supporting-600">
        Building tools that I need
      </h1>
      <p class="text-supporting-500">expecting to benefit others as well.</p>
      <p class="text-supporting-300">
        I’m a Software Engineer and an UI Designer. I combine these skills to
        create digital solutions to solve everyday problems. I use neovim btw.
      </p>
    </header>
    <section class="flex flex-col">
      <h2 class="font-lora-bold text-supporting-600">Projects</h2>
      <ul class="projects">
        {
          projects.map((project) => (
            <li>
              <a
                class="flex items-center gap-1 mb-2"
                href={project.link}
                target="_blank"
                rel="noreferrer"
              >
                <h3 class="text-supporting-400 font-inter-medium">
                  {project.name}
                </h3>
                <Icon name="new_window" />
              </a>
              <p class="text-supporting-300 mb-4">{project.description}</p>
              <hr class="border-neutral-300 mb-4" />
            </li>
          ))
        }
      </ul>
    </section>
    <section class="flex flex-col">
      <h2 class="font-lora-bold text-supporting-600">Articles</h2>
      <ArticleList articles={articles} />
    </section>
  </main>
</Layout>
