---
import { getCollection } from "astro:content";
import newWindow from "../icons/new_window.svg";
import Layout from "../layouts/Layout.astro";
import { formatDate } from "../util";
const pageDescription = "Milton David's personal website";

const articles = await getCollection("articles");

const orderedArticles = articles.sort((prev, next) => {
  const prevTime = new Date(prev.data.updatedAt).getTime();
  const nextTime = new Date(next.data.updatedAt).getTime();
  if (prevTime < nextTime) return 1;
  else if (prevTime > nextTime) return -1;

  return 0;
});

const drafts = orderedArticles.filter((article) => article.data.isDraft);

const projects: Array<{
  name: string;
  description: string;
  link: string;
}> = [
  {
    name: "minhamola",
    link: "https://minhamola.com",
    description:
      "A web-based personal finance management application. Built with Vue.js and Express.js.",
  },
  {
    name: "typed-formdata",
    link: "https://github.com/ToniMaunde/typed-formdata",
    description:
      "An experiment on parsing and validating the native formdata object based on a schema. Built with TypeScript and Zod.",
  },
  {
    name: "react-svg-icon",
    link: "https://github.com/ToniMaunde/react-svg-component",
    description:
      "A tree-shakeable approach to rendering SVGs (in React.js). All without the use of a library or using the HTMLImageElement. Built with React.js and TypeScript.",
  },
];
---

<Layout
  title="Home - Milton David"
  description={pageDescription}
  isArticle={false}
>
  <main class="">
    <header>
      <h1
        class=""
      >
        Building tools that I need
      </h1>
      <p class="">
        expecting to benefit others as well.
      </p>
      <p class="">
        I’m a Software Engineer and an UI Designer. I combine these skills to
        create digital solutions to solve everyday problems. I use neovim btw.
      </p>
    </header>
    <section class="">
      <h2
        class=""
      >
        Projects
      </h2>
      <ul class="">
        {
          projects.map((project) => (
            <li>
              <a
                class=""
                href={project.link}
                target="_blank"
                rel="noreferrer"
              >
                <h3 class="">
                  {project.name}
                </h3>
                <img src={newWindow.src} class="" />
              </a>
              <p class="">
                {project.description}
              </p>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="">
      <h2
        class=""
      >
        Articles
      </h2>
      <ul class="">
        {
          orderedArticles.map((article) => (
            <li class="">
              <a
                href={`/articles/${article.slug}`}
                class=""
              >
                <h3 class="">
                  {article.data.title}
                </h3>
              </a>
              <p class="">
                {article.data.description}
              </p>
              <p class="">
                {formatDate(article.data.updatedAt)}
              </p>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="">
      <h2
        class=""
      >
        Drafts
      </h2>
      {
        drafts.length > 0 ? (
          <ul class="">
            {drafts.map((article) => (
              <li class="">
                <a
                  href={`/articles/${article.slug}`}
                  class=""
                >
                  <h3 class="">
                    {article.data.title}
                  </h3>
                </a>
                <p class="">
                  {article.data.description}
                </p>
                <p class="">
                  {formatDate(article.data.updatedAt)}
                </p>
              </li>
            ))}
          </ul>
        ) : (
          <p class="">
            Oh no, I'm not writing enough.
          </p>
        )
      }
    </section>
  </main>
</Layout>
