---
import logomark from "../icons/logomark.svg";
import logotype from "../icons/logotype.svg";
import github from "../icons/socials/github.svg";
import dribbble from "../icons/socials/dribbble.svg";
import linkedin from "../icons/socials/linkedin.svg";
import twitter from "../icons/socials/twitter.svg";
import codepen from "../icons/socials/codepen.svg";

export const currentYear = new Date().getFullYear();

export const socialProfiles = [
  {
    href: "https://github.com/ToniMaunde",
    name: "Github",
    icon: github,
  },
  {
    href: "https://dribbble.com/ToniMaunde",
    name: "Dribbble",
    icon: dribbble,
  },
  {
    href: "https://www.linkedin.com/in/tonimaunde/",
    name: "Linkedin",
    icon: linkedin,
  },
  {
    href: "https://twitter.com/tonimaunde",
    name: "Twitter",
    icon: twitter,
  },
  {
    href: "https://codepen.io/ToniMaunde",
    name: "Codepen",
    icon: codepen,
  },
];
---

<footer class="region" data-region="footer">
  <a href="/">
    <img src={logomark.src} data-type="logomark" />
    <img src={logotype.src} data-type="logotype" />
  </a>
  <ul role="list">
    {
      socialProfiles.map((profile) => (
        <li>
          <a
            target="_blank"
            rel="noreferrer"
            href={profile.href}
          >
            <img src={profile.icon.src} />
            <span>{profile.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
  <p>
    ©{currentYear} Milton David. All Rights Reserved.
  </p>
</footer>
