---
import Layout from "../layouts/Layout.astro";
import TableOfContents from "../components/articles/TableOfContents.astro";
import type { MarkdownLayoutProps } from "astro";
import Share from "../components/articles/Share.astro";
import { Icon } from "astro-icon/components";
import { format } from "date-fns";

function slugifyTitle(title: string) {
  return title.toLowerCase().split(" ").join("-");
}

function articleDate(createdAt: string, updatedAt: string, isDraft: boolean) {
  const datePattern = "MMM dd yyyy";

  if (isDraft) {
    return `Started on ${format(new Date(createdAt), datePattern)}`;
  } else {
    if (createdAt === updatedAt) {
      return format(new Date(createdAt), datePattern);
    }
    return `Updated on ${format(new Date(updatedAt), datePattern)}`;
  }
}

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  createdAt: string;
  updatedAt: string;
  isDraft: boolean;
  topics: Array<string>;
}>;

const GITHUB_CONTENT_URL =
  "https://github.com/ToniMaunde/miltondavid-with-astro/tree/main/src/content/articles";

const { frontmatter, headings } = Astro.props;
const { href } = Astro.url;
const ARTICLE_SLUG = slugifyTitle(frontmatter.title);
---

<Layout
  title={frontmatter.title + " - Milton David"}
  description={frontmatter.description}
  isArticle={true}
>
  <main>
    <a
      href="/"
      class="relative flex gap-2 items-center text-lg/6 text-supporting-500 px-6"
    >
      <Icon name="arrow_left" class="w-4 h-auto" />
       Go back
    </a>
    <header class="flex flex-col my-6 px-6">
      <h1 class="font-lora-bold text-supporting-600 text-[32px]/10 mb-2">
        {frontmatter.title}
      </h1>
      <p class="text-supporting-300 text-sm/4">
        {
          articleDate(
            frontmatter.createdAt,
            frontmatter.updatedAt,
            frontmatter.isDraft
          )
        }
      </p>
    </header>
    <p class="font-inter-light text-supporting-400 mb-6 px-6">
      <span class="font-inter-medium">Summary:</span>
      {frontmatter.description}
    </p>
    <TableOfContents headings={headings} classes="mb-6" />
  </main>
  <article
    class="px-6 flex flex-col text-lg/[150%] prose-code:text-supporting-500 dark:prose-code:text-neutral-300 prose-p:break-words text-supporting-300 dark:text-neutral-600 prose prose-headings:font-overpass-mono prose-headings:text-supporting-500 dark:prose-headings:text-neutral-100 prose-headings:text-lg/6 prose-headings:mt-4 prose-blockquote:bg-neutral-200 dark:prose-blockquote:bg-supporting-300 prose-blockquote:border-l-supporting-200 dark:prose-blockquote:border-l-primary-300 prose-blockquote:rounded-r-md prose-blockquote:text-supporting-300 dark:prose-blockquote:text-neutral-300 prose-ul:my-0 prose-em:bg-neutral-200 dark:prose-em:bg-supporting-300 dark:prose-em:text-neutral-100 prose-em:px-1 prose-em:rounded-md prose-strong:text-supporting-500 dark:prose-strong:text-neutral-100 prose-a:underline-offset-2 prose-a:text-supporting-400 dark:prose-a:text-primary-300"
  >
    <slot />
    <hr class="mt-0 mb-5 border-supporting-100 dark:border-neutral-600" />
    <p class="text-supporting-300 dark:text-neutral-600 mb-0">
      Did you find a typo, or would like to contribute to the article? Here's
      the <a
        href={`${GITHUB_CONTENT_URL}/${ARTICLE_SLUG}.mdx`}
        target="_blank"
        rel="noreferrer"
        class=""
      >
        Github Link
      </a> for this article.
    </p>
    <Share title={frontmatter.title} href={href} />
  </article>
</Layout>
