---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import arrowBack from "../images/back.svg";
import { getEntry } from "astro:content";
import ArticleMeta from "../components/ArticleMeta.astro";
import ArticleLink from "../components/articles/Link.astro";
import TableOfContents from "../components/articles/TableOfContents.astro";
import type { MarkdownLayoutProps } from "astro";

function slugifyTitle(title: string) {
  return title.toLowerCase().split(" ").join("-");
}

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  createdAt: string;
  updatedAt: string;
  topics: Array<string>;
}>;

const GITHUB_CONTENT_URL =
  "https://github.com/ToniMaunde/miltondavid-with-astro/tree/main/src/content/articles";
const TWITTER_SHARING_URL = "https://twitter.com/intent/tweet";
const LINKEDIN_SHARING_URL = "http://www.linkedin.com/shareArticle";

const { frontmatter, headings } = Astro.props;
const { href } = Astro.url;
const ARTICLE_SLUG = slugifyTitle(frontmatter.title);
const article = await getEntry("articles", ARTICLE_SLUG);
---

<Layout
  title={frontmatter.title + " - Milton David"}
  description={frontmatter.description}
  isArticle={true}
>
  <main class="px-4">
    <a
      href="/articles"
      class="flex items-center text-supporting-gunmetal-500 dark:text-neutral-300 no-underline w-fit my-10"
    >
      <Image
        src={arrowBack}
        alt="Arrow back icon"
        aria-hidden="true"
        height="16"
        class="my-0 mr-1"
      />
       Read other articles
    </a>
    <header>
      <h1
        class="font-overpass-mono text-supporting-gunmetal-700 dark:text-primary-300 text-2xl"
      >
        {frontmatter.title}
      </h1>
      <ArticleMeta
        articleBody={article!.body}
        description={frontmatter.description}
        createdAt={frontmatter.createdAt}
        updatedAt={frontmatter.updatedAt}
      />
      <hr class="my-4 border-supporting-gunmetal-300 dark:border-neutral-300" />
    </header>
    <TableOfContents headings={headings} />
  </main>
  <article
    class="px-4 flex flex-col text-supporting-gunmetal-300 dark:text-neutral-300 prose prose-headings:font-overpass-mono prose-headings:text-supporting-gunmetal-500 dark:prose-headings:text-neutral-100 prose-headings:text-lg/6 prose-blockquote:bg-neutral-200 dark:prose-blockquote:bg-supporting-gunmetal-300 prose-blockquote:border-l-supporting-gunmetal-200 dark:prose-blockquote:border-l-primary-300 prose-blockquote:rounded-r-md prose-blockquote:text-supporting-gunmetal-300 dark:prose-blockquote:text-neutral-300 prose-ul:my-0 prose-em:bg-neutral-100 dark:prose-em:bg-supporting-gunmetal-300 dark:prose-em:text-neutral-100 prose-em:px-1 prose-em:rounded-md prose-strong:text-supporting-gunmetal-500 dark:prose-strong:text-neutral-100 prose-a:underline-offset-2 prose-a:text-supporting-gunmetal-700 dark:prose-a:text-neutral-100"
  >
    <slot />
    <hr class="my-0 border-supporting-gunmetal-300 dark:border-neutral-300" />
    <p
      class="bg-neutral-200 dark:bg-supporting-gunmetal-300 rounded-md p-4 my-6"
    >
      <span class="text-supporting-gunmetal-500 dark:text-neutral-100"
        >Share this article:</span
      >
      <ArticleLink
        href={`${TWITTER_SHARING_URL}?url=${href}&text=${frontmatter.title}&via=tonimaunde`}
        text="Twitter"
      />
      {"  |  "}
      <ArticleLink
        href={`${LINKEDIN_SHARING_URL}?mini=true&url=${href}&title=${frontmatter.title}&source=Milton Alberto`}
        text="Linkedin"
      />
    </p>
    <p>
      Did you find a typo, or would like to contribute to the article? Here's
      the <ArticleLink
        href={`${GITHUB_CONTENT_URL}/${ARTICLE_SLUG}.mdx`}
        text="Github Link"
      /> for this article.
    </p>
  </article>
</Layout>
