---
import type { TTwitterMeta } from "../types";
interface Props {
  title: string;
  description: string;
  isArticle: boolean;
}

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

const { title, description, isArticle } = Astro.props;

function computeTwitterMeta(
  title: string,
  description: string
): Array<TTwitterMeta> {
  return [
    {
      name: "twitter:card",
      content: "summary",
    },
    {
      name: "twitter:site",
      content: "@tonimaunde",
    },
    {
      name: "twitter:creator",
      content: "@tonimaunde",
    },
    {
      name: "twitter:title",
      content: title,
    },
    {
      name: "twitter:description",
      content: description,
    },
  ];
}
---

<!doctype html>
<html lang="en" class="w-full h-full text-base">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    {
      isArticle &&
        computeTwitterMeta(title, description).map((meta) => (
          <meta name={meta.name} content={meta.content} />
        ))
    }
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" sizes="any" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="max-w-[636px] xs:mx-auto h-full flex flex-col bg-white font-overpass-regular"
  >
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      @font-face {
        font-family: "Overpass Mono";
        src:
          url("/fonts/overpassmono_bold.woff2") format("woff2"),
          url("/fonts/overpassmono_bold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Overpass Regular";
        src:
          url("/fonts/overpass_regular.woff2") format("woff2"),
          url("/fonts/overpass_regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Overpass Medium";
        src:
          url("/fonts/overpass_medium.woff2") format("woff2"),
          url("/fonts/overpass_medium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
