---
import type { TTwitterMeta } from "../types";
interface Props {
  title: string;
  description: string;
  isArticle: boolean;
}

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

const { title, description, isArticle } = Astro.props;

const umamiSecret: string = import.meta.env.SECRET_UMAMI_ID;

export { umamiSecret };

function computeTwitterMeta(
  title: string,
  description: string
): Array<TTwitterMeta> {
  return [
    {
      name: "twitter:card",
      content: "summary",
    },
    {
      name: "twitter:site",
      content: "@tonimaunde",
    },
    {
      name: "twitter:creator",
      content: "@tonimaunde",
    },
    {
      name: "twitter:title",
      content: title,
    },
    {
      name: "twitter:description",
      content: description,
    },
  ];
}
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    {
      isArticle &&
        computeTwitterMeta(title, description).map((meta) => (
          <meta name={meta.name} content={meta.content} />
        ))
    }
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      src="https://analytics.eu.umami.is/script.js"
      data-website-id={umamiSecret}></script>
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class=""
  >
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }
    </style>
  </body>
</html>
